<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Good Thymes Virtual Grocery</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
	crossorigin="anonymous">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>
<link th:href="@{/css/styles.css}" rel="stylesheet" />
<link th:href="@{/css/create_styles.css}" rel="stylesheet" />

<style>
#location-element {
	position: relative;
}

.location-options_wrapper {
	display: none;
	border: 1px solid black;
	width: calc(100% - 10px);
	position: absolute;
	max-height: 100px;
	overflow-Y: auto;
	border-top: 0;
	border-radius: 10px;
	background-color: white;
}

.location-options div:hover {
	background-color: #1E90FF;
	color: white;
	cursor: default;
}

.location-options span {
	padding-left: 12px
}

.clrInp {
	height: 10px;
	position: absolute;
	top: 35px;
	right: 20px;
	display: none;
}

.clrInp:hover {
	cursor: pointer;
}

.validation-error {
	color: red;
}
</style>

</head>

<body>
	<div class="nav-container">
		<div class="nav-top">
			<div class="logo">
				<a th:href="@{/}"> <img th:src="@{/logo/logo4.png}"
					height="60px">
				</a>
			</div>
			<div class="social-icons">
				<img th:src="@{/icons/icon_fb.png}"> <img
					th:src="@{/icons/icon_twitter.png}"> <img
					th:src="@{/icons/icon_yt.png}"> <img
					th:src="@{/icons/icon_share.png}">
			</div>
		</div>
		<div class="nav-middle">
			<div class="menu">
				<div class="menu-links">
					<div>
						<a th:href="@{/new-estate/categories}">Dodaj ogłoszenie</a>
					</div>
					<div class="separator"></div>
					<div>
						<a href="#">Zarejestruj się</a>
					</div>
					<div class="separator"></div>
					<div>
						<a href="#">Logowanie</a>
					</div>
				</div>
			</div>
		</div>
		<div class="nav-bottom"></div>
	</div>

	<div>
		<form method="post" id="createForm" th:action="@{/new-estate/} + ${estateType}" th:object="${formData}">
			<h5>Dodaj ogłoszenie</h5>
			<div>
				<input id="estateType" th:field="*{estateType}" type="hidden">
			</div>
			<div class="form-element">
				<label for="name">Tytuł ogłoszenia</label> <input type="text"
					class="form-control-sm" th:field="*{name}">
				<p class="validation-error" th:if="${#fields.hasErrors('name')}"
					th:errors="*{name}"></p>
			</div>

			<div class="form-group">
				<div class="form-element" id="location-element">
					<label for="location">Lokalizacja</label> <input type="hidden"
						class="form-control-sm" th:field="*{location}"> <input
						type="text" id="locationInput" class="form-control-sm"
						th:field="*{locationName}" autocomplete="off">
					<p class="validation-error"
						th:if="${#fields.hasErrors('location')}" th:errors="*{location}"></p>
					<img th:src="@{/input/delete.png}" class="clrInp">
					<div class="location-options_wrapper">
						<div class="location-options"></div>
					</div>
				</div>
				<div class="form-element">
					<label for="offerType">Typ oferty</label> <select id="offerType"
						name="offerType" class="form-select-sm">
						<option value="sell">Sprzedaż</option>
						<option value="rent">Wynajem</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="form-element">
					<label for="price">Cena [zł]</label> <input type="text"
						class="form-control-sm" id="price" th:field="*{price}">
					<p class="validation-error" th:if="${#fields.hasErrors('price')}"
						th:errors="*{price}"></p>

				</div>

				<div class="form-element">
					<label for="size">Wielkość [m2]</label> <input type="text"
						class="form-control-sm" id="size" th:field="*{size}">
					<p class="validation-error" th:if="${#fields.hasErrors('size')}"
						th:errors="*{size}"></p>
				</div>


			</div>
			<div class="form-group"
				th:if="${estateType == 'flat' OR estateType == 'house'}">
				<div class="form-element">
					<label for="marketType">Rynek</label> <select id="marketType"
						name="*{marketType}" class="form-select-sm">
						<option value="secondary">Wtórny</option>
						<option value="primary">Pierwotny</option>
					</select>
				</div>

				<div class="form-element">
					<label for="rooms">Liczba pokoi</label> <select id="rooms"
						name="*{rooms}" class="form-select-sm">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4 i wiecej</option>
					</select>
				</div>
				<div class="form-element">
					<label for="balcony">Balkon</label> <select id="balcony"
						name="*{balcony}" class="form-select-sm">
						<option value="0">Nie</option>
						<option value="1">Tak</option>
					</select>
				</div>
				<div class="form-element">
					<label for="garage">Garaż</label> 
					<select id="garage" name="*{garage}" class="form-select-sm">
						<option value="0">Nie</option>
						<option value="1">Tak</option>
					</select>
				</div>

			</div>




			<div class="form-element">
				<label for="name">Zdjęcia</label> <input type="file"
					class="form-control-sm" name="images">
			</div>
			<div class="form-element">
				<label for="description">Opis</label>
				<textarea id="description" th:field="*{description}" rows="4"></textarea>
			</div>


			<input type="submit" value="Dodaj ogłoszenie">
		</form>
	</div>

	<footer>
		<div class="footer-container">
			<div class="footer-element">
				<h5>Product</h5>
				<a href="#">Agent Manager</a> <a href="#">Designs Our Customers</a>
				<a href="#">What's new?</a>
			</div>
			<div class="footer-element">
				<h5>Use Cases</h5>
				<a href="#">Brokers REALTORS ®</a> <a href="#">Agents</a> <a
					href="#">Admins</a>

			</div>
			<div class="footer-element">
				<h5>Company</h5>
				<a href="#">About us</a> <a href="#">Careers</a> <a href="#">Press
					Kit</a> <a href="#">Terms</a>
			</div>
			<div class="footer-element">
				<h5>Resources</h5>
				<a href="#">Marketing Academy</a> <a href="#">Knowledge base</a> <a
					href="#">Webinars</a>
			</div>

			<div class="footer-element">
				<h5>Contact</h5>
				Contact 800-728-8391 <a href="#">support@placester.com </a> 33 Arch
				Street, 17th <br> Floor Boston, MA 02110
			</div>
		</div>

	</footer>
</body>

<script>

	$('#locationInput').on('keydown', function(e){
		const key = event.key;
		let this_ = $(this);
		let location = $("input[name='location']");
	    if ((key === "Backspace" || key === "Delete") && location.val()) {
	    	this_.val("");
	    	location.val("");
	    	$('.clrInp').hide();
	    }
	})
	
	$('#locationInput').on('input', function(e){
		let this_ = $(this);
		
		if (!this_.val()) {
			$("input[name='location']").val("");
			$('.clrInp').hide();
			return;
		}else{
			$('.clrInp').show();
		}
		
		$.ajax({
		     type : "GET",
		     url : "/location/search/" + this_.val(),
		     contentType: "application/json",
		     dataType: "json",
		     success : function (data, status) {
		    	 console.log(data)
		    	 createLocationSelectOptions(data);
		     },
		     error : function (status) {
		        
		     }
		 });
		
	})
	
	$('.clrInp').on('click', function(){
		$("input[name='location']").val("");
		$("#locationInput").val("");
		$(this).hide();
	})
	
	$('.location-options').on('click', 'div', function(){
		const this_ = $(this);
		$("input[name='location']").val(this_.attr("id"));
		$("#locationInput").val(this_.find('span').text())
		$('.location-options_wrapper').hide();
		
		if ($("input[name='location']").val()){
			$('.clrInp').show();
		}
	})
	
	
	
	function createLocationSelectOptions(data) {
	    let locationOptions = $('.location-options');
	    let locationOptionsWrapper = $('.location-options_wrapper');
	    locationOptions.empty();
	
	    if (data.length > 0) {
	    	locationOptionsWrapper.show();
	    }else{
	    	locationOptionsWrapper.hide();
	    }
	
	    $(data).each((i, element) => {
	    	const div = $('<div/>',{id : element.id});
	    	div.append($('<span>', {
	            text: element.city + ", " + element.street + ", " + element.province
	        }))
	        locationOptions.append(div);
	    })
	}
	
</script>



</html>